body {
    margin:0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
  align-items: center;
  color: #fff;
  background-image: url("photo-1699891730676-037bed3c1bed.jpeg");
  background-size: cover;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
   /* background-color: white; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
h1 {
    color: #333;
}
p {
    line-height: 1.6;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.social-media a {
    text-decoration: none;
  /*  color: #0077b5;   */
    color: red;
    margin-right: 10px;
}
